@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import "tailwindcss";

@theme {
  
  /* --color-brand-blue: #155dfc;
  --color-accent: oklch(70% 0.1 200); */
  --color-brand-blue: #336B87;
  --color-brand-yellow: #D5933C;
  --color-hover-blue: #4A90B2;
  --color-hover-yellow: #E9A852;

  --color-bg: #030712;
  --color-light: #282828;
  --color-bg-load: #121212;


  
 --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
 --font-mono: "JetBrains Mono", ui-monospace, monospace;


  --text-huge: 5rem;
}
/* Старий код для glowingBorder ... */

/* Анімація для бульбашок */
@keyframes smoothColorShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* 2. Анімація для польоту бульбашок (НЕОБХІДНА!) */
@keyframes particleFloat {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    /* Змінні --tx та --ty ми генеруємо в React */
    transform: translate(calc(-50% + var(--tx)), calc(-50% + var(--ty))) scale(0);
    opacity: 0;
  }
}
@keyframes infinite-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-infinite-scroll {
 
  animation: infinite-scroll 40s linear infinite;
}


.animate-infinite-scroll:hover {
  animation-play-state: paused;
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}

.animate-scroll:hover {
  animation-play-state: paused;
}

html {
  scroll-behavior: smooth;
  
}